@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Big+Shoulders+Display:wght@300&family=DM+Sans:ital,opsz,wght@1,9..40,200&family=Epilogue&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@200&family=Inter:wght@200&family=Josefin+Sans:wght@200;300&family=Kumbh+Sans:wght@300;400&family=League+Spartan&family=Lexend+Deca:wght@300;400&family=Libre+Franklin:wght@200&family=Open+Sans&family=Outfit:wght@200&family=Overpass:wght@600&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@200;300&family=Red+Hat+Display&family=Roboto:wght@300&family=Rubik:wght@300&family=Space+Mono:wght@700&family=Ubuntu:wght@700&display=swap");

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);

  /* ### Accent */

  --Blue: hsl(248, 32%, 49%);

  /* ### Neutral */

  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--Red) url(images/bg-intro-desktop.png) center center
    no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 0 10rem 0 10rem;
}

/* left_side */

.left_side {
  flex: 1;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
  line-height: 3.5rem;
  word-spacing: 0.1rem;
}

.description {
  color: #fff;
  margin-top: 1rem;
}

/* right_side */

.right_side {
  flex: 1;
}

.trial_text {
  background-color: var(--Blue);
  padding-block: 1rem;
  text-align: center;
  border-radius: 0.3rem;
}
.trial_text p {
  color: var(--Grayish-Blue);
}
.trial_text p strong {
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

/* Form */

form {
  background-color: #fff;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 0.3rem;
}
.input_box {
  text-align: right;
  margin-top: 0.3rem;
  position: relative;
}

.input_box i{
    font-size: 1.4rem;
    color: var(--Red);
    cursor: pointer;
    position: absolute;
    top: 0.9rem;
    right: 0.6rem;
    visibility: hidden;
}

i.fa-eye-slash{
    color: black;
}

i.fa-eye{
    color: var(--Red);
}
.input_box input,.input_box textarea {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: var(--Grayish-Blue);
  padding: 0.8rem 0.5rem;
  border: none;
  outline: 2px solid var(--Grayish-Blue);
  border-radius: 0.3rem;
}

.input_box input:focus ,textarea:focus {
  outline: 2px solid var(--Dark-Blue);
  color: var(--Dark-Blue);
}

textarea{
    height: 3.2rem;
}


.input_box small {
  display: inline-block;
  margin-top: 0.3rem;
  color: var(--Red);
  font-style: italic;
  font-weight: 600;
}

/* Button */

#submit_btn {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.7rem;
  background: var(--Green);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  color: #fff;
  margin-top: .2rem;
  box-shadow: none;

  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#submit_btn:hover {
  background-color: #00d297;
  box-shadow: 3px 3px 8px var(--Green);
}
.footer_txt {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0.7rem;
}

.footer_txt span {
  color: var(--Red);
  cursor: pointer;
  font-weight: bolder;
}

small {
  visibility: hidden;
}
